

body {
    background-color:#D0E2C8;
}

.underConstruction{
    background:#F1EEF0;
    color: #A1AD9B;
    font-family: Verdana;
    font-size-adjust: 18px;
    text-align: center;
}

.aboutMe {

    width: 60%;
    text-align: center;
    color: grey;
    display: flexbox;
    align-content: center space-around;

    font-family: "Verdana" serif;
    font-size: 25px;
    padding: 5%;
    margin:10% 10% 10% 10%;

}

.flex-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

}
  a:link{
      color:#2F1A48;
      background-color:transparent;
      text-decoration:none;
  }
  a:visited{
    color:#A1AD9B;
    background-color:transparent;
    text-decoration:none;
  }
  a:active {
    color:#A1AD9B;
    background-color:transparent;
    text-decoration:none; 
  }
  a:hover{
    text-decoration:underline;
    background-color:lightblue;
  }