

.container{

    
    background: lightgoldenrodyellow;
}
body{
    background: url(images/clarinet\ background\ picture.jpg);
    border-width: 100px 100px 100px 100px;
}

/*.katheadshot{
    display: flex;
    align-content: center;
}
.backgroundImage{

    display:flexbox;
    border:dashed
}
/*to do: 
- figure out how to get a visible border around it
- figure out how to get a gap between top of page and top of pic!
*/

.aboutmetitle{

    color: blueviolet;
    font-family: "Verdana";
    font-size-adjust: 25px;
}

.aboutme {

    text-align: center;
    color: rebeccapurple;
    display: flexbox;
    align-content: center space-around;
    border: 10%;
    font-family: "Arial Rounded" "Arial" sans-serif;
    font-size: 20px;
    margin-left: 400px;
    margin-right: 400px;

}

.contentsPage{

    display: flexbox;
    border: solid 3px;
    justify-content: left;
    background: rgb(100, 171, 194);
    width: fit-content;
    height: fit-content;
    line-height: 300%;

}

.projectTitle{

    display: flexbox;
    position: relative;
    color: green;
    
}

/*.projectcontent {
    display: flexbox;
    align-content: left 10%;
    color: #900C3F;
    font-size: 25px;
    font-family: "Arial" serif;
}
*/
/*1.1 */
.describeIT {
    display: flexbox;
    background: rgb(154, 180, 215)

}
/*1.2 - what do you need to make projects successful? what skills?*/
.successfulProject{
    display: flexbox;
    background: peachpuff

}
/*1.3 Plan and carry out tasks using IT – e.g. making
your website. How will you plan it? Include a link to
your troll board.*/

.planUsingIT{
    display: flexbox;
    background: rgb(154, 180, 215)

}
/*1.4 - Risks that impact Digital Projects*/

.describeRisks{
    display: flexbox;
    background: peachpuff;
}

/*1.5*/
.choosingTech{

    display: flexbox;
    background: rgb(154, 180, 215)
}
    
/* 1.6*/
.myChosenTech{

display: flexbox;
background: peachpuff

}

.GDPR{

    display: flexbox;
    background: rgb(154, 180, 215);

}

.usefulLinks{

    display: flexbox;
    background: paleturquoise;

}